<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/biplane</property>
        <property name="hibernate.connection.username">multiuser</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.autocommit">true</property>
        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">update</property>
        <!--<property name="hibernate.default_schema">main</property>-->
        <!--<property name="classesHibernate.archive.autodetection">class,hbm</property>-->
        <property name="hibernate.default_entity_mode">dynamic-map</property>
        <!--<property name="hibernate.show_sql">true</property>-->

    </session-factory>
</hibernate-configuration>